<div class="well-content span7 offset0">

  <%= render "form" %>



  <%= link_to t(:back), pre_new_products_list_customer_enquiries_path  %>
</div>


<% content_for :page_title do %>
    <%= t :new_enquiry %>
<% end %>

